@page
@using HRMapp.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using HRMapp.Web.Pages.Contracts.Contract
@using HRMapp.Localization
@using HRMapp.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<HRMappResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Contract"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Contract"].Value);
    PageLayout.Content.MenuItemName = HRMappMenus.Contract;
}

@section scripts
{
    <abp-script src="/Pages/Contracts/Contract/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Contracts/Contract/index.css"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Contract"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @if (await Authorization.IsGrantedAsync(HRMappPermissions.Contract.Create))
                {
                    <abp-button id="NewContractButton"
                                text="@L["CreateContract"].Value"
                                icon="plus"
                                button-type="Primary"/>
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_6">
                <abp-button button-type="Primary" abp-collapse-id="ContractCollapse">@L["TableFilter"] </abp-button>
            </abp-column>

            <abp-column size-md="_6" class="text-end">
                <abp-dropdown >
                    <abp-dropdown-button button-type="Primary" text="@L["CustomColumn"].Value"/>
                    <abp-dropdown-menu>
                        <ul style=" list-style-type: none;">
                            <li >

                                <input class="customcolumn" id="0" checked="true" type="checkbox">@L["ContractEmployeeName"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="1" checked="true" type="checkbox">@L["TimeContract"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="2" checked="true" type="checkbox">@L["ContractDateSign"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="3" checked="true" type="checkbox">@L["ContractCoefficientSalary"]</input>

                            </li> 
                            
                          

                        </ul>
                    </abp-dropdown-menu>
                </abp-dropdown>

            </abp-column >
        </abp-row>
        <abp-collapse-body id="ContractCollapse">
            <form id="ContractFilter" required-symbols="false">
                <abp-input asp-for="@Model.ContractFilter.EmployeeId"></abp-input>
                <abp-input asp-for="@Model.ContractFilter.TimeContract"></abp-input>
                <abp-input asp-for="@Model.ContractFilter.SignDate"></abp-input>
                <abp-input asp-for="@Model.ContractFilter.CoefficientSalary"></abp-input>
            </form>
            <hr/>
        </abp-collapse-body>
        <abp-table striped-rows="true" id="ContractTable" class="table-bordered nowrap"/>
    </abp-card-body>
</abp-card>
