@page
@using HRMapp.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using HRMapp.Web.Pages.Attendents.AttendentLine
@using HRMapp.Localization
@using HRMapp.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<HRMappResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["AttendentLine"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:AttendentLine"].Value);
    PageLayout.Content.MenuItemName = HRMappMenus.AttendentLine;
}

@section scripts
{
    <abp-script src="/Pages/Attendents/AttendentLine/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Attendents/AttendentLine/index.css"/>
}
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["AttendentLine"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @if (await Authorization.IsGrantedAsync(HRMappPermissions.AttendentLine.Create))
                {
                    <abp-button id="NewAttendentLineButton"
                                text="@L["CreateAttendentLine"].Value"
                                icon="plus"
                                button-type="Primary"/>
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_6">
                <abp-button button-type="Primary" abp-collapse-id="AttendentLineCollapse">@L["TableFilter"] </abp-button>
            </abp-column>

            <abp-column size-md="_6" class="text-end">
                <abp-dropdown >
                    <abp-dropdown-button button-type="Primary" text="@L["CustomColumn"].Value"/>
                    <abp-dropdown-menu>
                        <ul style=" list-style-type: none;">
                            <li >

                                <input class="customcolumn" id="0" checked="true" type="checkbox">@L["AttendentLineEmployeeName"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="1" checked="true" type="checkbox">@L["TimeAttendentLine"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="2" checked="true" type="checkbox">@L["AttendentLineDateSign"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="3" checked="true" type="checkbox">@L["AttendentLineCoefficientSalary"]</input>

                            </li> 

                        </ul>
                    </abp-dropdown-menu>
                </abp-dropdown>

            </abp-column >
        </abp-row>
        <abp-collapse-body id="AttendentLineCollapse">
            <form id="AttendentLineFilter" required-symbols="false">
                <abp-input asp-for="@Model.AttendentLineFilter.EmmployeeName"></abp-input>
                <abp-input asp-for="@Model.AttendentLineFilter.Type"></abp-input>
                <abp-input asp-for="@Model.AttendentLineFilter.ShiftName"></abp-input>
                <abp-input asp-for="@Model.AttendentLineFilter.TimeCheck"></abp-input>
            </form>
            <hr/>
        </abp-collapse-body>
        <abp-table striped-rows="true" id="AttendentLineTable" class="table-bordered nowrap"/>
    </abp-card-body>
</abp-card>

