@page
@using HRMapp.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using HRMapp.Web.Pages.Shifts.Shift
@using HRMapp.Localization
@using HRMapp.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<HRMappResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Shift"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Shift"].Value);
    PageLayout.Content.MenuItemName = HRMappMenus.Shift;
}

@section scripts
{
    <abp-script src="/Pages/Shifts/Shift/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Shifts/Shift/index.css"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Shift"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
			    @if (await Authorization.IsGrantedAsync(HRMappPermissions.Shift.Create))
                {
                <abp-button id="NewShiftButton"
                            text="@L["CreateShift"].Value"
                            icon="plus"
                            button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_6">
                <abp-button button-type="Primary" abp-collapse-id="ShiftCollapse">@L["TableFilter"] </abp-button>
             </abp-column>

        <abp-column size-md="_6" class="text-end">
            <abp-dropdown >
                <abp-dropdown-button button-type="Primary" text="@L["CustomColumn"].Value"/>
                <abp-dropdown-menu>
                    <ul style=" list-style-type: none;">
                        <li >

                            <input class="customcolumn" id="0" checked="true" type="checkbox">@L["ShiftName"]</input>

                        </li>
                        <li >

                            <input class="customcolumn" id="1" checked="true" type="checkbox">@L["ShiftStart"]</input>

                        </li>
                        <li >

                            <input class="customcolumn" id="2" checked="true" type="checkbox">@L["ShiftEnd"]</input>

                        </li> 
                        <li >

                            <input class="customcolumn" id="3" checked="true" type="checkbox">@L["ShiftTimeStartCheckIn"]</input>

                        </li> 
                        <li >

                            <input class="customcolumn" id="4" checked="true" type="checkbox">@L["ShiftTimeStopCheckout"]</input>

                        </li>

                    </ul>
                </abp-dropdown-menu>
            </abp-dropdown>
        
        </abp-column >
                </abp-row>
        <abp-collapse-body id="ShiftCollapse">
            <form id="ShiftFilter" required-symbols="false">
                <abp-input asp-for="@Model.ShiftFilter.Name"></abp-input>
                <abp-input type="time" asp-for="@Model.ShiftFilter.Start"></abp-input>
                <abp-input type="time" asp-for="@Model.ShiftFilter.End"></abp-input>
            </form>
            <hr />
        </abp-collapse-body>
        <abp-table striped-rows="true" id="ShiftTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
