@page
@inject IHtmlLocalizer<HRMappResource> L

@using HRMapp.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model HRMapp.Web.Pages.Departments.Department.UpDateEmployee

@{
    Layout = null;
}

<div class="row">
    <h4>THÔNG TIN PHÒNG BAN</h4>
        <abp-table hoverable-rows="true" responsive-sm="true" class="table table-bordered">
            <thead>
            <tr>
                <th>@L["DepartmentName"].Value</th>
                <th>@L["DepartmentOwnerId"].Value</th>
                <th>@L["DepartmentParentId"].Value</th>
            </tr>
            </thead>
            <tbody>
        
            <tr>
                <td>@Model.ViewModel.Name</td>
                <td>@Model.ViewModel.OwnerName</td>
                <td>@Model.ViewModel.ParentName</td>
            </tr>
            </tbody>
        </abp-table>
    <abp-input hidden="hidden" suppress-label="true" asp-for="ViewModel.Name" size="Small"></abp-input>
    <abp-input hidden="hidden" suppress-label="true" asp-for="ViewModel.OwnerId" size="Small"></abp-input>
    <abp-input hidden="hidden" suppress-label="true" asp-for="ViewModel.ParentId" size="Small"></abp-input>
    
    </div>
<div class="row">

    <div class="col-md-8">
        <abp-table hoverable-rows="true" id="DepartmentUser1" responsive-sm="true" class="table table-bordered"/>
    </div>
    <div class="col-md-4">
        <abp-table id="employeelistview" hoverable-rows="true" responsive-sm="true" class="table table-bordered">
            <thead>
            <tr>
                <th scope="Column">@L["EmployeeName"]</th>
                <th scope="Column">@L["Action"]</th>

            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ViewEmployeeNameDepartmentModels)
            {
                <tr id=@item.Id>
                    <td>@item.Name</td>
                    <td style="text-align: center; width:1%">
                        <a class="deleteemployeebtn" href='javascript:void(0);' data-name=@item.Name data-id=@item.Id>
                            <i class="text-danger fa fa-trash"></i>
                        </a>
                    </td>
                    <input type="text" id="ViewModel_employeeId+@item.Id" name="ViewModel.employeeId" value="@item.Id" class="form-control form-control-sm" hidden="hidden">

                </tr>
            }
            </tbody>

        </abp-table>
    </div>
</div>