@page
@using HRMapp.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using HRMapp.Web.Pages.Contacts.Contact
@using HRMapp.Localization
@using HRMapp.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<HRMappResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Contact"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Contact"].Value);
    PageLayout.Content.MenuItemName = HRMappMenus.Contact;
}

@section scripts
{
    <abp-script src="/Pages/Contacts/Contact/index.js" />
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
}
@section styles
{
    <abp-style src="/Pages/Contacts/Contact/index.css"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Contact"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @if (await Authorization.IsGrantedAsync(HRMappPermissions.Contact.Create))
                {
                    <abp-button id="NewContactButton"
                                text="@L["CreateContact"].Value"
                                icon="plus"
                                button-type="Primary"/>
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_6">
                <abp-button button-type="Primary" abp-collapse-id="ContactCollapse">@L["TableFilter"] </abp-button>
            </abp-column>

            <abp-column size-md="_6" class="text-end">
                <abp-dropdown >
                    <abp-dropdown-button button-type="Primary" text="@L["CustomColumn"].Value"/>
                    <abp-dropdown-menu>
                        <ul style=" list-style-type: none;">
                            <li >

                                <input class="customcolumn" id="0" checked="true" type="checkbox">@L["Contact"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="1" checked="true" type="checkbox">@L["ContactGender"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="2" checked="true" type="checkbox">@L["ContactBirthday"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="3" checked="true" type="checkbox">@L["ContactActive"]</input>

                            </li> 
                            <li >

                                <input class="customcolumn" id="4" checked="true" type="checkbox">@L["ContactEmail"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="5" checked="true" type="checkbox">@L["ContactPhoneNumber"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="6" checked="true" type="checkbox">@L["ContactAddress"]</input>

                            </li>
                          

                        </ul>
                    </abp-dropdown-menu>
                </abp-dropdown>

            </abp-column >
        </abp-row>
        <abp-collapse-body id="ContactCollapse">
            <form id="ContactFilter" required-symbols="false">
                <abp-input asp-for="@Model.ContactFilter.Name"></abp-input>
                <abp-input asp-for="@Model.ContactFilter.Address"></abp-input>
                <abp-input asp-for="@Model.ContactFilter.Email"></abp-input>
                <abp-input asp-for="@Model.ContactFilter.PhoneNumber"></abp-input>
            </form>
            <hr/>
        </abp-collapse-body>
        <abp-table striped-rows="true" id="ContactTable" class="table-bordered nowrap"/>
    </abp-card-body>
</abp-card>
