@page
@using HRMapp.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using HRMapp.Web.Pages.Salarys.Salary
@using HRMapp.Localization
@using HRMapp.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<HRMappResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Salary"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Salary"].Value);
    PageLayout.Content.MenuItemName = HRMappMenus.Salary;
}

@section scripts
{
    <abp-script src="/Pages/Salarys/Salary/index.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
}
@section styles
{
    <abp-style src="/Pages/Salarys/Salary/index.css"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Salary"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @if (await Authorization.IsGrantedAsync(HRMappPermissions.Salary.Create))
                {
                    <abp-button id="ExportSalaryForDepartmentButton"
                                text="@L["ExportSalaryForMonthForDepartment"].Value"
                                icon="plus"
                                button-type="Primary"/> 
                    <abp-button id="ExportSalaryButton"
                                text="@L["ExportSalaryForMonth"].Value"
                                icon="plus"
                                button-type="Primary"/> 
                    <abp-button id="NewManySalaryButton"
                                text="@L["CreateManySalary"].Value"
                                icon="plus"
                                button-type="Primary"/>
                    <abp-button id="NewSalaryButton"
                                text="@L["CreateSalary"].Value"
                                icon="plus"
                                button-type="Primary"/>
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_6">
                <abp-button button-type="Primary" abp-collapse-id="SalaryCollapse">@L["TableFilter"] </abp-button>
            </abp-column>

            <abp-column size-md="_6" class="text-end">
                <abp-dropdown >
                    <abp-dropdown-button button-type="Primary" text="@L["CustomColumn"].Value"/>
                    <abp-dropdown-menu>
                        <ul style=" list-style-type: none;">
                            <li >

                                <input class="customcolumn" id="0" checked="true" type="checkbox">@L["SalaryEmployeeName"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="1" checked="true" type="checkbox">@L["TimeSalary"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="2" checked="true" type="checkbox">@L["SalaryDateSign"]</input>

                            </li>
                        </ul>
                    </abp-dropdown-menu>
                </abp-dropdown>

            </abp-column >
        </abp-row>
        <abp-collapse-body id="SalaryCollapse">
            <form id="SalaryFilter" required-symbols="false">
                <abp-input asp-for="@Model.SalaryFilter.EmployeeName"></abp-input>
                <abp-input asp-for="@Model.SalaryFilter.AttendentForMonthMonth" type="date" abp-data-datepicker="false"></abp-input>
            </form>
            <hr/>
        </abp-collapse-body>
        <abp-table striped-rows="true" id="SalaryTable" class="table-bordered nowrap"/>
    </abp-card-body>
</abp-card>
