@page
@using HRMapp.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using HRMapp.Web.Pages.Employees.Employee
@using HRMapp.Localization
@using HRMapp.Web.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.SweetAlert2
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<HRMappResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Employee"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Employee"].Value);
    PageLayout.Content.MenuItemName = HRMappMenus.Employee;
}

@section scripts
{
    
        <abp-script src="/Pages/Employees/Employee/index.js" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
        
         @if (ViewData["ReloadDatatable"] as bool? == true)
            {
                <script>
                        $('#EmployeeTable').DataTable().ajax.reload();
                </script>
            }
}
@section styles
{
    <abp-style src="/Pages/Employees/Employee/index.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css">

}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Employee"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @if (await Authorization.IsGrantedAsync(HRMappPermissions.Employee.Create))
                {
                    <abp-button id="NewEmployeeButton"
                                text="@L["CreateEmployee"].Value"
                                icon="plus"
                                button-type="Primary"/>
                       
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_6">
                <abp-button button-type="Primary" abp-collapse-id="EmployeeCollapse">@L["TableFilter"] </abp-button>
            </abp-column>

            <abp-column size-md="_6" class="text-end">
                <abp-dropdown >
                    <abp-dropdown-button button-type="Primary" text="@L["CustomColumn"].Value"/>
                    <abp-dropdown-menu>
                        <ul style=" list-style-type: none;">
                            <li >

                                <input class="customcolumn" id="0" checked="true" type="checkbox">@L["Name"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="1" checked="true" type="checkbox">@L["OtherName"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="2" checked="true" type="checkbox">@L["HrmUserName"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="3" checked="true" type="checkbox">@L["HrmContactName"]</input>

                            </li> 
                            <li >

                                <input class="customcolumn" id="4" checked="true" type="checkbox">@L["Gender"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="5" checked="true" type="checkbox">@L["BirthDay"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="6" checked="true" type="checkbox">@L["PhoneNumber"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="7" checked="true" type="checkbox">@L["DepartmentName"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="8" checked="true" type="checkbox">@L["Status"]</input>

                            </li> 
                            <li >

                                <input class="customcolumn" id="9" checked="true" type="checkbox">@L["EmployeePosition"]</input>

                            </li>

                        </ul>
                    </abp-dropdown-menu>
                </abp-dropdown>

            </abp-column >
        </abp-row>
        <abp-collapse-body id="EmployeeCollapse">
            <form id="EmployeeFilter" required-symbols="false">
                <abp-input asp-for="@Model.EmployeeFilter.Name"></abp-input>
                <abp-input asp-for="@Model.EmployeeFilter.OtherName"></abp-input>
                <abp-input asp-for="@Model.EmployeeFilter.UserName"></abp-input>
                <abp-input asp-for="@Model.EmployeeFilter.ContactName"></abp-input>
                <abp-input asp-for="@Model.EmployeeFilter.DepartmentName"></abp-input>
                <abp-select asp-for="@Model.EmployeeFilter.Status"> </abp-select>
                <abp-select asp-for="@Model.EmployeeFilter.EmployeePosition"> </abp-select>
            </form>
            <hr/>
        </abp-collapse-body>
        <abp-row><abp-column size-md="_6" class="text-start">
            <form method="POST" enctype="multipart/form-data" class="mt-2" asp-page-handler="Import">
                <div>
                    <input class="form-control form-control-sm" style="width:220px;display: inline-block;" type="file" name="excel"/>
                    <abp-button button-type="Primary" style="display: inline-block;" type="Submit">Import from excel</abp-button>
                </div>
            </form>      
        </abp-column></abp-row>
        <abp-table striped-rows="true" id="EmployeeTable" class="table-bordered nowrap"/>
    </abp-card-body>
</abp-card>

