@page
@using HRMapp.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@inject IHtmlLocalizer<HRMappResource> L
@model HRMapp.Web.Pages.Employees.EmployeeHistory.ViewModalModel
@{
    Layout = null;
}
<abp-modal>
    <abp-modal-header title="@L["EmployeeHistory"].Value"></abp-modal-header>
    <abp-modal-body>
        <abp-table class="table-bordered">
            <tbody>
            <tr>
                <th>@L["EmployeeName"].Value</th>
                <td>@Model.ViewModel.EmployeeName</td>
            </tr>
            <tr>
                <th>@L["EmmployeeHistoryStart"].Value</th>
                <td>@Model.ViewModel.Start</td>
            </tr>
            <tr>
                <th>@L["EmmployeeHistoryEnd"].Value</th>
                <td>@Model.ViewModel.End</td>
            </tr>
            <tr>
                <th>@L["EmmployeeHistoryOrganization"].Value</th>
                <td>@Model.ViewModel.Organization</td>
            </tr>
            <tr>
                <th>@L["EmmployeeHistoryDescription"].Value</th>
                <td>@Model.ViewModel.Description</td>
            </tr>
            </tbody>
        </abp-table>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Close)"></abp-modal-footer>
</abp-modal>
