@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using HRMapp.Localization
@inject IHtmlLocalizer<HRMappResource> L
@model HRMapp.Web.Pages.Attendents.AttendentForMonth.ExportAllAttendentForMonthForDepartmentModalModel
@{
    Layout = null;
}
@section scripts
{
    <abp-script src="/Pages/Attendents/AttendentForMonth/index.js" />
}
   <form  asp-page="/Attendents/AttendentForMonth/ExportAllAttendentForMonthForDepartmentModal">
    <abp-modal>
        <abp-modal-header title="@L["CreateAllAttendentForMonthForDepartmentButton"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="ViewMonthAndDepartmentModel.Month" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" abp-data-datepicker="false"></abp-input>
            <abp-select  asp-for="ViewMonthAndDepartmentModel.DepartmentName" asp-items="@Model.Departments" label="@L["DepartmentName"].Value">
                    <option value="">@L["NoOption"]</option>
            </abp-select>
            </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>