@page
@using HRMapp.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using HRMapp.Web.Pages.Attendents.Attendent
@using HRMapp.Localization
@using HRMapp.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<HRMappResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Attendent"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Attendent"].Value);
    PageLayout.Content.MenuItemName = HRMappMenus.Attendent;
}

@section scripts
{
    <abp-script src="/Pages/Attendents/Attendent/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Attendents/Attendent/index.css"/>
}


<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Attendent"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @if (await Authorization.IsGrantedAsync(HRMappPermissions.Attendent.Create))
                {
                    <abp-button id="NewEmployeetButton"
                                text="@L["CreateAttendent"].Value"
                                icon="plus"
                                button-type="Primary"/>
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_6">
                <abp-button button-type="Primary" abp-collapse-id="AttendentCollapse">@L["TableFilter"] </abp-button>
            </abp-column>

            <abp-column size-md="_6" class="text-end">
                <abp-dropdown >
                    <abp-dropdown-button button-type="Primary" text="@L["CustomColumn"].Value"/>
                    <abp-dropdown-menu>
                        <ul style=" list-style-type: none;">
                            <li >

                                <input class="customcolumn" id="0" checked="true" type="checkbox">@L["Date"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="1" checked="true" type="checkbox">@L["EmployeeName"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="2" checked="true" type="checkbox">@L["daterange"]</input>

                            </li>
                            <li >

                                <input class="customcolumn" id="3" checked="true" type="checkbox">@L["MissingIn"]</input>

                            </li> 
                            <li >

                                <input class="customcolumn" id="4" checked="true" type="checkbox">@L["MissingOut"]</input>

                            </li>
                            @*<li >

                                <input class="customcolumn" id="5" checked="true" type="checkbox">@L["Date"]</input>

                            </li>*@
                            

                        </ul>
                    </abp-dropdown-menu>
                </abp-dropdown>

            </abp-column >
        </abp-row>
        <abp-collapse-body id="AttendentCollapse">
            <form id="AttendentFilter" required-symbols="false">
                <abp-input asp-for="@Model.AttendentFilter.Date"></abp-input>
                <abp-input asp-for="@Model.AttendentFilter.EmployeeName"></abp-input>
                <abp-input asp-for="@Model.AttendentFilter.QueryAttendentDateRange"></abp-input>
                <abp-input asp-for="@Model.AttendentFilter.MissingIn"></abp-input>
                <abp-input asp-for="@Model.AttendentFilter.MissingOut"></abp-input>
                @*<abp-select asp-for="@Model.AttendentFilter.Datetime"> </abp-select>*@
            </form>
            <hr/>
        </abp-collapse-body>
        <abp-table striped-rows="true" id="AttendentTable" class="table-bordered nowrap"/>
    </abp-card-body>
</abp-card>